@charset "UTF-8";
/* This is the Links. */
.links{
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
}

/* This is the Logo. */
.cdlogo{
    text-align: center;
}

/* This is the Nav Bar section. */
.nav{
	font-family: lato;
	color: black;
	font-size: 22px;
}

.nav-link{
	color: #1A1713;
}

.nav-link:hover {
	color: #B7B7ED;
}

.dropdown-item{
	color: #1A1713;
}

.dropdown-item:active {
background-color: #B7B7ED;
}

/* */