@charset "UTF-8";
/* This is the Links. */
.links{
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
}

/* This is the Logo. */
.cdlogo{
    text-align: center;
}

/* This is the Nav Bar section. */
.nav{
	font-family: lato;
	color: #1A1713;
	font-size: 22px;
}

.nav-link{
	color: #1A1713;
}

.nav-link:hover {
	color: #B7B7ED;
}

.dropdown-item{
	color: #1A1713;
}

.dropdown-item:active {
background-color: #B7B7ED;
}

/* This is the Credit Page. */
.credit{
		font-size: 14px;
}

/* This is the footer. */
.footer {
	bottom: 0;
	position: absolute;
	font-family: lato;
	color: #1A1713;
    background-color: #B7B7ED;
    margin-top: 90px;
}

.footer-text {
	color: #1A1713;
	text-align: center;
}

.footer-text1:hover {
    color: #1A1713;
    text-decoration: underline;
}

.footer-img {
	padding-bottom: 8px;
}

.links2{
	text-align: center;
	padding-bottom: 10px;
}